In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# Store the csv you saed created in part one of the DataFrame 
city_data_df = pd.read_csv('weather_data/cities.csv')

In [9]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaitangata,NZ,2020-09-06 02:18:24,-46.28,169.85,55.99,40,58,15.99
1,1,Vaini,TO,2020-09-06 02:18:36,-21.20,-175.20,75.20,60,75,12.75
2,2,Rikitea,PF,2020-09-06 02:20:23,-23.12,-134.97,72.28,81,5,13.58
3,3,Fortuna,US,2020-09-06 02:20:23,40.60,-124.16,66.00,77,1,10.29
4,4,Hermanus,ZA,2020-09-06 02:20:23,-34.42,19.23,50.00,96,98,1.01

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
gmaps.configure(api_key=g_key)

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating = False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df['Cloudiness']
fig = gmaps.figure(center = (30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = cloudiness, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df['Wind Speed']
fig = gmaps.figure(center = (30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = windspeed, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [51]:
preferred_cities_df = city_data_df[(city_data_df['Max Temp']<= max_temp) & (city_data_df['Max Temp']>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vaini,TO,2020-09-06 02:18:36,-21.20,-175.20,75.20,60,75,12.75
7,7,Bonfim,BR,2020-09-06 02:20:24,3.08,-59.95,79.93,69,100,5.57
8,8,Kununurra,AU,2020-09-06 02:20:24,-15.77,128.73,87.80,26,100,8.05
11,11,Neiafu,TO,2020-09-06 02:20:26,-18.65,-173.98,77.00,57,40,11.41
12,12,Yanam,IN,2020-09-06 02:20:26,16.73,82.22,82.40,88,20,1.50
18,18,Tabou,CI,2020-09-06 02:20:28,4.42,-7.35,75.60,87,100,10.13
25,25,Kapaa,US,2020-09-06 02:20:29,22.08,-159.32,84.20,62,1,16.11
28,28,Butaritari,KI,2020-09-06 02:20:31,3.07,172.79,83.10,78,92,16.06
31,31,Atuona,PF,2020-09-06 02:20:32,-9.80,-139.03,78.85,68,5,23.13
34,34,Saint-Louis,SN,2020-09-06 02:20:34,16.33,-15.00,78.19,86,98,5.86

In [55]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [56]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [97]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
1         Vaini      TO     75.20 -21.20 -175.20
7        Bonfim      BR     79.93   3.08  -59.95
8     Kununurra      AU     87.80 -15.77  128.73
11       Neiafu      TO     77.00 -18.65 -173.98
12        Yanam      IN     82.40  16.73   82.22
18        Tabou      CI     75.60   4.42   -7.35
25        Kapaa      US     84.20  22.08 -159.32
28   Butaritari      KI     83.10   3.07  172.79
31       Atuona      PF     78.85  -9.80 -139.03
34  Saint-Louis      SN     78.19  16.33  -15.00

In [89]:
# def get_data(row):
#     gp_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
#     lat = row['Lat']
#     lng = row['Lng']
#     params = {
#         "key":g_key, 
#         "location": f"{lat},{lng}".format(lat, lng),
#         "type":"lodging",
#         "radius":5000
#              }
#     hotels = requests.get(gp_url, params=params).json()
#     return hotels['results'][0]['name']

# hotel_df['Hotel Name'] = hotel_df.apply(get_data, axis=0)

In [98]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [100]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [101]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [102]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))